<footer>
      <div class="container">
        <div class="row footer-stuff">
              <div class="columns six">
              <a href="index.html" class="logo-1">DROBO<span class="high-light">SHOK</span></a>
                <ol class="social">
                  <li><a title="Twitter" href="https://www.twitter.com/droboshok" target="_blank"><i class="icon-twitter"></i>Twitter</a></li>
                  <li><a title="Facebook" href="https://www.facebook.com/droboshok" target="_blank"><i class="icon-facebook "></i>Facebook</a></li>
                  <li><a title="Instagram" href="https://instagram.com/droboshok" target="_blank"><i class="icon-picture"></i>Instagram</a></li>
                  <li><a title="Github" href="https://github.com/droboshok/" target="_blank"><i class="icon-github"></i>Github</a></li>

                </ol>
              </div>
      
              <div class="columns six">
              <p><h5>Подпишись</h5> на новости Droboshok.<br>Будь в курсе всех изменений в моем блоге</p>
                
                <form method="POST" action="http://cp.unisender.com/ru/subscribe?hash=5yxccg4j88dqew9t8f9i46j694zq79y4do97317e" name="subscribtion_form" target="_blank" class="row">
                  <div class="eight columns">
        
                    <input class="u-full-width" name="email" value="" type="text" placeholder="Ваш Email">
                  </div>
                  <div class="columns four">
                    <input class="button-email" value="Подписаться" type="submit">
                  </div>
    <input name="charset" value="UTF-8" type="hidden">
    <input name="default_list_id" value="5728670" type="hidden">
    <input name="overwrite" value="2" type="hidden">
    <input name="is_v5" value="1" type="hidden">
</form>


              </div>
            </div></div>
    </footer>  

