<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ site.author.name }}">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="fb:admins" content="100007240991418"/>
  <meta property="fb:app_id" content="111129072574112" />

  <meta property="og:locale" content="ru_RU" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@droboshok"/>


  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  
  <meta property="og:description" content="{{ page.description }}" />
  
  <meta property="og:image" content="{{ page.image | append: "_m.jpg" }}" />
  <meta property="og:type" content="website" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css"> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets.css }}/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets.css }}/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets.css }}/style.css">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets.css }}/fontello.css">
<script async type="text/javascript" src="{{ site.baseurl }}{{ site.assets.js }}/queryloader2.min.js"></script>
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

</head>
