// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #333 !default;
$font-color: #222 !default;
$second-link-color: #2ECC80 !default;
$color-thema: #3e4156 !default;
// Typography
$font-family: 'Verdana', Arial, sans-serif !default;
